<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Teachers
      <button class="btn btn-primary" (click)="add()">Add</button>
    </h2>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Rank</th>
            <th>Courses</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ teacher.firstname }}</td>
            <td>{{ teacher.lastname }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.rank.name }}</td>
            <td>
              <button class="btn btn-info" (click)="viewCourses(teacher.id, teacher.firstname, teacher.lastname)" title="Courses">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </button>
            </td>
            <td class="btn-group-small text-center">
              <button class="btn btn-info" (click)="edit(teacher)" title="Edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger" (click)="delete(teacher.id)" title="Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
