<div class="modal-dialog">
  <div class="modal-content">
  
    <div class="modal-header">
      <h4 class="modal-title">{{ action }} Notification</h4>
      <button type="button" class="close" (click)="cancel()">&times;</button>
    </div>
    
    <div class="modal-body">
      <form #f="ngForm" name="form" enctype="multipart/form-data">
        <div class="form-group">
          <label for="message"><span class="red-text">*</span>Message</label>
          <textarea type="text" class="form-control" [(ngModel)]="notification.message" name="message" autofocus required></textarea>
        </div>

        <div class="form-group">
          <label for="file">File</label>
          <input accept=".pdf,.zip,.png,.jpg,.gif,.txt,.doc,.docx,.odt,.xls,.xlsx,.ods,.ppt,.pptx,.odp"
          type="file" id="file" name="file" #file id="file" name="file" (change)="onChange(file.files)">
        </div>

        <p><span class="red-text">*</span> - mandatory fields</p>
      </form>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <div class="mx-auto">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid" (click)="ok()">Ok</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
      </div>
    </div>
    
  </div>
</div>