<div class="myNavbar">
    <a routerLink="notifications" routerLinkActive="active-link" class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-xs-12">Notifications</a>
    <a routerLink="lessons" routerLinkActive="active-link" class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-xs-12">Lessons</a>
    <a routerLink="files" routerLinkActive="active-link" class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-xs-12">Files</a>
    <a routerLink="colloquiums" routerLinkActive="active-link" class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-xs-12">Colloquiums</a>
</div>

