<app-course-navbar></app-course-navbar>

<div class="panel panel-default customTopMargin" id="entity-management">
  <div class="panel-heading">
    <h2>Course Lessons
      <button *ngIf="role == teacher" class="btn btn-info" (click)="add()">Add</button>
    </h2>
  </div>

  <div class="panel-body">
    <ul class="notificationsList">
      <li *ngFor="let courseLesson of courseLessons" class="singleNotification">
        <p class="notificationCourse">{{ courseLesson.name }}</p>
        <p class="notificationMessage">{{ courseLesson.description | slice:0:50 }}...</p>
        <button class="btn btn-success" title="Info" routerLink="{{ courseLesson.id }}">
          <i class="fa fa-info"></i>
        </button>
        <button *ngIf="role == teacher" class="btn btn-info" title="Edit" (click)="edit(courseLesson)">
          <i class="fa fa-pencil"></i>
        </button>
        <button *ngIf="role == teacher" class="btn btn-danger" title="Delete" (click)="delete(courseLesson.id)">
          <i class="fa fa-trash-o"></i>
        </button>
      </li>
    </ul>
  </div>
</div>