<app-course-navbar></app-course-navbar>

<div class="panel panel-default customTopMargin" id="entity-management">
    <div class="panel-heading">
      <h2>Notifications
        <button *ngIf="role == teacher" class="btn btn-info" (click)="add()">Add</button>
      </h2>
    </div>
  
    <div class="panel-body">
      <ul class="notificationsList">
        <li *ngFor="let notification of notifications" class="singleNotification" [ngClass]="{'unreadBackground': role == student && notification.seen == false }">
          <p class="notificationCourse">{{ notification.course.courseName }}</p>
          <p class="notificationDate">{{ notification.nDate | date:'short' }}</p>
          <p class="notificationMessage">{{ notification.message | slice:0:50 }}...</p>
          <button class="btn btn-success" title="Info" routerLink="{{ notification.id }}">
            <i class="fa fa-info"></i>
          </button>
          <button *ngIf="role == teacher" class="btn btn-info" title="Edit" (click)="edit(notification)">
            <i class="fa fa-pencil"></i>
          </button>
          <button *ngIf="role == teacher" class="btn btn-danger" title="Delete" (click)="delete(notification)">
            <i class="fa fa-trash-o"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  