<app-exam-term-modal></app-exam-term-modal>
<app-exam-period-modal></app-exam-period-modal>
<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Exam Periods
      <button class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#examPeriodModal"
        (click)="setAction(true, null, null)">Add</button>
    </h2>
  </div>

  <div class="panel-body">

    <div *ngFor="let examPeriod of examPeriods; let i = index" class="examPeriod">
      <br>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ examPeriod.name }}</td>
              <td>{{ examPeriod.startDate | date:'short' }}</td>
              <td>{{ examPeriod.endDate | date:'short' }}</td>
              <td class="btn-group-small text-center">
                <button class="btn btn-info" (click)="setAction(teacher)" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                  data-target="#myModal" title="Edit">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger " (click)="setDeleteId(teacher.id)" data-toggle="modal" data-target="#confirmModal" title="Delete">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>

      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
          aria-controls="collapseExample">
          Toggle exam terms
        </button>
      </p>

      <br>

      <div class="collapse" id="collapseExample">
        <h3>Exam terms
          <button class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#examTermModal"
            (click)="setAction(false, null, vehicle._id)">Add</button>
        </h3>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Course</th>
                <th>Date</th>
                <th>Classroom</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let examTerm of examPeriod[i].examTerms; let ii = index">
                <td>{{ ii + 1 }}</td>
                <td>{{ examTerm.course.name }}</td>
                <td>{{ examTerm.examDate | date:'short' }}</td>
                <td>{{ examTerm.classRoom }}</td>
                <td class="btn-group-small text-center">
                  <button class="btn btn-info" (click)="setAction(false, expense, null)" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                    data-target="#expenseModal" title="Edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-danger" (click)="setDeleteId(expense._id, vehicles[i]._id)" data-toggle="modal" data-target="#confirmModal"
                    title="Delete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <br>
      </div>

    </div>

  </div>
</div>
