<app-course-navbar></app-course-navbar>

<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Course Lesson</h2>
  </div>

  <div class="panel-body">
    <p><strong>Name: </strong>{{ courseLesson.name }}</p>
    <p><strong>Description: </strong>{{ courseLesson.description }}</p>

    <button class="btn btn-primary customMarginBtnBottom" (click)="file.click()">Add Files</button>

    <form>
        <input accept=".pdf,.zip,.png,.jpg,.gif,.txt,.doc,.docx,.odt,.xls,.xlsx,.ods,.ppt,.pptx,.odp"
        type="file" multiple (change)="onChange(file.files)" id="file" name="file" #file>
    </form>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>File Name</th>
            <th>Mime Type</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let courseFile of courseFiles">
            <td>{{ courseFile.documentName }}</td>
            <td>{{ courseFile.mimeType }}</td>
            <td class="btn-group-small text-center">
              <button class="btn btn-success" (click)="download(courseFile)" title="Download">
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
              <button *ngIf="role == teacher" class="btn btn-danger" (click)="delete(courseFile.id)" title="Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
