@import '~font-awesome/css/font-awesome.css';
@import '~angular2-toaster/toaster.css';

body,
html {
  width: 100%;
  height: 100%
}

body {
  font-family: Muli, Helvetica, Arial, sans-serif;
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s
}

a:focus,
a:hover {
  color: #fcbd20
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, .1)
}

hr.light {
  border-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px
} 

/* Modals */

.defaultModal {
  padding-top: 125px;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-dialog {
  top: 25%;
}

.modal-title {
  font-size: 26px;
}

form {
  font-size: 16px;
}

form p {
  font-weight: bold;
}

form input {
  font-size: 16px !important;
}

.red-text {
  color: red;
}

.background-white {
  background: white !important;
}

#confirmModal {
  font-size: 16px;
}

/* Entities */

#entity-management h2 {
  font-size: 30px;
}

#entity-management h2 button {
  float: right;
  vertical-align: middle;
}

#entity-management h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

#entity-management h3 button {
  float: right;
}

#entity-management .table>tbody>tr>td {
  vertical-align: middle;
  font-size: 14px;
}

.customPaddingLeft {
  padding-left: 20px;
}

/* Single notification */

.notificationsList {
  list-style-type: none;
  padding: 0px;
}

.singleNotification {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.singleNotification:hover {
  background: yellow;
}

.notificationCourse {
  font-size: 16pt;
  margin: 0px;
  font-weight: 600;
}

.notificationDate {
  font-size: 12pt;
  margin: 3px 0px;
}

.notificationMessage {
  font-size: 14pt;
  margin: 0px;
}

/* Single class/course */

.cardBorder {
  border: 2px solid black;
  border-radius: 3px;
  height: auto;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.cardBorder a {
  margin-left: 5px;
  margin-top: 5px;
}

.customBorder {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
}

.customBorder:last-child {
  border-bottom: 2px solid black;
}

.cardTitle {
  font-size: 15pt;
  margin: 5px;
  font-weight: 600;
}

.cardText {
  font-size: 12pt;
  margin: 5px;
}

/* More Info */

.moreInfo {
  background: #FAEBD7;
  margin-bottom: 25px !important;
  padding: 15px;
  border-radius: 20px;
}

.moreInfo p {
  font-weight: 400;
  font-size: 12pt;
  margin: 10px;
}

.moreInfo h2 {
  font-weight: 800;
  font-size: 12pt;
}

/* Exam periods */

.examPeriod {
  background: #FAEBD7;
  margin-bottom: 50px !important;
  padding: 10px;
  border-radius: 20px;
}

/* Other */

.customMarginLeft {
  margin-left: 20px;
}

.customTopMargin {
  margin-top: 50px;
}