<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Grades</h2>
  </div>

  <p>Average: {{ average }}</p>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Course</th>
            <th>Points</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of grades; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ grade.course.courseName }}</td>
            <td>{{ grade.points }}</td>
            <td>{{ grade.grade }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
