<!-- <app-confirm-modal></app-confirm-modal> -->
<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Notifications</h2>
  </div>

  <div class="panel-body">
    <ul class="notificationsList">
      <li *ngFor="let notification of notifications" class="singleNotification" [ngClass]="{'unreadBackground': notification.seen == false }" routerLink="{{ notification.id }}">
        <p class="notificationCourse">{{ notification.course.courseName }}</p>
        <p class="notificationDate">{{ notification.nDate | date:'short' }}</p>
        <p class="notificationMessage">{{ notification.message | slice:0:50 }}...</p>
        <button class="btn btn-lg btn-danger " (click)="delete(notification.id)" title="Delete">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
