<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Classes
      <button class="btn btn-primary" (click)="add()">Add</button>
    </h2>
  </div>

  <div class="panel-body">
    <div *ngFor="let class of classes" class="card cardBorder col-xl-4 col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="card-body">
        <p class="cardTitle">{{ class.name }}</p>
        <a routerLink="{{ class.id }}" class="btn btn-primary">
          <i class="fa fa-info"></i>
        </a>
        <a (click)="edit(class)" class="btn btn-info">
          <i class="fa fa-pencil"></i>
        </a>
        <a (click)="delete(class.id)" class="btn btn-danger">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    </div>
  </div>
</div>
